<html>

<head>
    <title>회원가입</title>
</head>

<body class="bg-[#F2F4F4] text-black min-h-screen flex flex-col">

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<header style="display: flex; justify-content: center; align-items: center; margin-top: 60px; margin-bottom: 60px;">
    <div style="margin: 0 auto;">
        <a href="/">
            <img src="https://media.discordapp.net/attachments/742869528618467401/1121944406426144808/ticketKingLogo.png?width=1332&height=242" alt="logo" border="0" style="max-width: 200px;">
        </a>
    </div>
</header>

<main style="display: flex; justify-content: center; align-items: center;">
    <script>
        function JoinForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            회원가입
        </h1>

        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="LoginForm__submit(this); return false;">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">ID</span>
                </label>
                <input type="text" name="username" placeholder="아이디를 입력해주세요." class="input input-bordered" autofocus/>

            </div>

            <!--            <div>-->
            <!--                <div class="w-full">-->
            <!--                    <label class="label">-->
            <!--                        <span class="text-gray-400 mt-2">아이디를 입력해주세요</span>-->
            <!--                    </label>-->
            <!--                    <input type="text" th:field="*{username}" maxlength="16" placeholder="아이디" class="input input-bordered w-full text-black" id="username" autofocus />-->
            <!--                    <span th:style="${'color: red; font-size:12px;'}" th:text="${valid_username}"></span>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" name="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password Validation</span>
                </label>
                <input type="password" name="password" placeholder="비밀번호를 확인해주세요." class="input input-bordered"/>
            </div>


            <div class="form-control">
                <label class="label">
                    <span class="label-text">E-mail</span>
                </label>
                <input type="text" name="email" placeholder="이메일을 입력해주세요." class="input input-bordered" autofocus/>
            </div>

            <div class="checkbox-text">
                <div class="checkbox-content">
                    <input type="checkbox" id="personalInfoAgreement" name="personalInfoAgreement">
                    <label for="personalInfoAgreement">개인정보 수집 및 활용에 동의합니다.</label>
                </div>
            </div>


            <button id="btn-join-1" class="btn btn-md btn-accent gap-3 border-none" style="background-color: #9B6DFF;">
                <!--                <i class="fa-solid fa-arrow-right-to-bracket"></i>-->
                <!--                <span>회원가입</span>-->
                <span class="text-white" style="font-size: 17px;">회원가입</span>
            </button>

            <div class="login-signup">
                    <span class="text">이미 계정이 있으신가요?
                        <a th:href="@{/usr/member/login}" class="text signup-link" style="color: #4070f4">로그인</a>
                    </span>
            </div>

            </th:block>

        </form>
    </div>
</main>
</body>

<footer class="mt-20 left-0 bottom-0 w-full bg-gray-200 text-center">
    <div class="py-4 text-neutral-500">
        © 2023 TicketKing
    </div>
</footer>

</html>