<html th:lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <script src="/js/validator.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link th:href="@{/resource/common/common.css}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');

        if (params.msg) {
            toastNotice(params.msg[0]);
        }
        if (params.errorMsg) {
            toastWarning(params.errorMsg[0]);
        }
        // history.back 에 의해서 돌아온 경우에 실행됨
        // 평소에도 실행됨
        $(window).bind("pageshow", function (event) {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;
            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            } else if (!document.referrer) {
                const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";
                if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                    toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                    localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
                }
            }
        });
    </script>
</head>

<body class="text-black min-h-screen flex flex-col">

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<header style="display: flex; justify-content: center; align-items: center; margin-top: 60px; margin-bottom: 60px;">
    <div style="margin: 0 auto;">
        <a href="/">
            <img src="https://media.discordapp.net/attachments/742869528618467401/1121944406426144808/ticketKingLogo.png?width=1332&height=242" alt="logo" border="0" style="max-width: 200px;">
        </a>
    </div>
</header>

<main style="display: flex; justify-content: center; align-items: center;">
    <script>
        function JoinForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4 || form.username.value.length > 16) {
                toastWarning('아이디를 4자 이상 16자 이하로 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4 || form.password.value.length > 16) {
                toastWarning('비밀번호를 4자 이상 16자 이하로 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            회원가입
        </h1>

        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="JoinForm__submit(this); return false;">
            <div class="form-control">
                <label for="username" class="label">
                    <span class="label-text">ID</span>
                </label>
                <input id="username" type="text" name="username" placeholder="아이디를 입력해주세요." class="input input-bordered" autofocus/>

            </div>

            <!--            <div>-->
            <!--                <div class="w-full">-->
            <!--                    <label class="label">-->
            <!--                        <span class="text-gray-400 mt-2">아이디를 입력해주세요</span>-->
            <!--                    </label>-->
            <!--                    <input type="text" th:field="*{username}" maxlength="16" placeholder="아이디" class="input input-bordered w-full text-black" id="username" autofocus />-->
            <!--                    <span th:style="${'color: red; font-size:12px;'}" th:text="${valid_username}"></span>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="form-control">
                <label for="password" class="label">
                    <span class="label-text">Password</span>
                </label>
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label for="passwordValidation" class="label">
                    <span class="label-text">Password Validation</span>
                </label>
                <input input id="passwordValidation" type="password" name="passwordValidation" placeholder="비밀번호를 확인해주세요." class="input input-bordered"/>
            </div>


            <div class="form-control">
                <label for="email" class="label">
                    <span class="label-text">E-mail</span>
                </label>
                <input id="email" type="text" name="email" placeholder="이메일을 입력해주세요." class="input input-bordered" autofocus/>
            </div>

            <div class="checkbox-text">
                <div class="checkbox-content">
                    <input type="checkbox" id="personalInfoAgreement" name="personalInfoAgreement">
                    <label for="personalInfoAgreement">개인정보 수집 및 활용에 동의합니다.</label>
                </div>
            </div>


            <button id="btn-join-1" class="btn btn-md btn-accent gap-3 border-none" style="background-color: #9B6DFF;">
                <!--                <i class="fa-solid fa-arrow-right-to-bracket"></i>-->
                <!--                <span>회원가입</span>-->
                <span class="text-white" style="font-size: 17px;">회원가입</span>
            </button>

            <div class="login-signup">
                    <span class="text">이미 계정이 있으신가요?
                        <a th:href="@{/usr/member/login}" class="text signup-link" style="color: #4070f4">로그인</a>
                    </span>
            </div>

        </form>
    </div>
</main>
</body>

<footer class="mt-20 left-0 bottom-0 w-full bg-gray-200 text-center">
    <div class="py-4 text-neutral-500">
        © 2023 TicketKing
    </div>
</footer>

</html>