<html th:lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <script src="/js/validator.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link th:href="@{/resource/common/common.css}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <script th:inline="javascript">
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if (errorMessage) {
            // Show the toastWarning message
            toastWarning(errorMessage);
        }
    </script>

    <script>
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');

        if (params.msg) {
            toastNotice(params.msg[0]);
        }
        if (params.errorMsg) {
            toastWarning(params.errorMsg[0]);
        }
        // history.back 에 의해서 돌아온 경우에 실행됨
        // 평소에도 실행됨
        $(window).bind("pageshow", function (event) {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;
            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            } else if (!document.referrer) {
                const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";
                if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                    toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                    localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
                }
            }
        });
    </script>
</head>

<body class="text-black min-h-screen flex flex-col">

<header style="display: flex; justify-content: center; align-items: center; margin-top: 60px; margin-bottom: 60px;">
    <div style="margin: 0 auto;">
        <a href="/">
            <img src="https://media.discordapp.net/attachments/742869528618467401/1121944406426144808/ticketKingLogo.png?width=1332&height=242" alt="logo" border="0" style="max-width: 200px;">
        </a>
    </div>
</header>

<main style="display: flex; justify-content: center; align-items: center;">

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            회원가입
        </h1>

        <form th:action method="POST" class="flex flex-col gap-6" onsubmit="JoinForm__submit(this); return false;">
            <div class="form-control">
                <input id="username" type="text" name="username" placeholder="아이디를 입력해주세요." class="username_input input input-bordered" required autofocus/>
            </div>

            <!--            <div>-->
            <!--                <div class="w-full">-->
            <!--                    <label class="label">-->
            <!--                        <span class="text-gray-400 mt-2">아이디를 입력해주세요</span>-->
            <!--                    </label>-->
            <!--                    <input type="text" th:field="*{username}" maxlength="16" placeholder="아이디" class="input input-bordered w-full text-black" id="username" autofocus />-->
            <!--                    <span th:style="${'color: red; font-size:12px;'}" th:text="${valid_username}"></span>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="form-control">
                <label for="password" class="label">
                    <span class="label-text">Password</span>
                </label>
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label for="passwordValidation" class="label">
                    <span class="label-text">Password Validation</span>
                </label>
                <input id="passwordValidation" type="password" name="passwordValidation" placeholder="비밀번호를 확인해주세요." class="input input-bordered"/>
            </div>


            <div class="form-control">
                <label for="email" class="label">
                    <span class="label-text">E-mail</span>
                </label>
                <input id="email" type="text" name="email" placeholder="이메일을 입력해주세요." class="input input-bordered" autofocus/>
            </div>

            <div class="checkbox-text">
                <div class="checkbox-content">
                    <input type="checkbox" id="personalInfoAgreement" name="personalInfoAgreement">
                    <label for="personalInfoAgreement">개인정보 수집 및 활용에 동의합니다.</label>
                </div>
            </div>


            <button id="btn-join-1" class="btn btn-md btn-accent gap-3 border-none" style="background-color: #9B6DFF;">
                <!--                <i class="fa-solid fa-arrow-right-to-bracket"></i>-->
                <!--                <span>회원가입</span>-->
                <span class="text-white" style="font-size: 17px;">회원가입</span>
            </button>

            <div class="login-signup">
                    <span class="text">이미 계정이 있으신가요?
                        <a th:href="@{/usr/member/login}" class="text signup-link" style="color: #4070f4">로그인</a>
                    </span>
            </div>

        </form>
    </div>
</main>
</body>

<footer class="bg-[#F2F4F4] flex-0 dark:bg-neutral-700 lg:text-left">
    <div>
        <ul class="flex flex-row items-center justify-around grid grid-flow-col justify-stretch">
            <li></li>
            <li class="ml-20 p-4 items-center text-center text-neutral-500 dark:text-neutral-200">© 2023 TicketKing</li>
            <li class="flex flex-row items-end justify-end mr-10">
                <a href="https://github.com/ProjectTicketKing/TicketKing" class="mr-3"><img src="https://i.ibb.co/mzmCJ7Q/free-icon-github-733609.png" alt="free-icon-github-733609" border="0" style="width: 20px; height: 20px; opacity: 50%"/></a>
                <a href="https://www.notion.so/e1657ce659514cec8174e6c67515b3ab?v=19f54e6d6102423796ea7da85463ea0d"><img src="https://i.ibb.co/c8hgrTV/Notion-logo.png" alt="Notion-logo" border="0" style="width: 20px; height: 20px; opacity: 50%"/></a>
            </li>
        </ul>
    </div>
</footer>

</html>