spring:
  mvc:
    hidden-method:
      filter:
        enabled: true
  profiles:
    active: local
    include: secret
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ticket_king?useSSL=false&allowPublicKeyRetrieval=true
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8InnoDBDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  mail:
    host: smtp.naver.com
    port:
      properties:
        mail.smtp.auth: true
        mail.smtp.ssl.enable: true
        mail.smtp.ssl.trust: smtp.naver.com
custom:
  genFileDirPath: /gen